.top-container{
  background-color: #B8FFF9;
  position: relative;
  padding-top: 100px;

}
body{
  background-color: #E8F9FD;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 100%;

}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color:  #66BFBF;
  line-height: 2;
}
 hr{
   border: dotted #EAF6F6 6px;
   border-bottom: none;
   margin: 100px auto;
   width: 4%


 }

p{
  line-height: 2

}


h2{
  font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:  #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:  #11999E;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top:40px;



}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;

}
.contact-message{
  margin-bottom:50px;
  width: 40px auto 60px;

}
.photo{
  border-radius: 100%;
  width: 25%;
}
.html{
  border-radius: 100%;
  float:left;
  margin-right: 30px;
  width: 25%



}
.python{
  border-radius: 100%;
  float: right;
  margin-left: 30px;
  width: 25%;
}
a{
  color:  purple;
    font-family: 'Merriweather', serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.skill-row{
  width: 50%;
margin: 100px auto 100px auto;
text-align: left;
line-height: 2;
}
.middle-container{
  margin: 100px 0;

}
.intro{
  margin: auto;
  width: 30%;

}
.copyright{
  font-size: 0.75rem;
  padding: 25px 0;
  color: #EAF6F6;
}
.btn {
  background: #137ad4;
  background-image: -webkit-linear-gradient(top, #137ad4, #6edce0);
  background-image: -moz-linear-gradient(top, #137ad4, #6edce0);
  background-image: -ms-linear-gradient(top, #137ad4, #6edce0);
  background-image: -o-linear-gradient(top, #137ad4, #6edce0);
  background-image: linear-gradient(to bottom, #137ad4, #6edce0);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #147eff;
  background-image: -webkit-linear-gradient(top, #147eff, 2bc4aad);
  background-image: -moz-linear-gradient(top, #147eff, 2bc4aad);
  background-image: -ms-linear-gradient(top, #147eff, 2bc4aad);
  background-image: -o-linear-gradient(top, #147eff, 2bc4aad);
  background-image: linear-gradient(to bottom, #147eff, 2bc4aad);
  text-decoration: none;
}
.bottom-container{

  padding: 50px 0 20px;
  background-color:#85F4FF;
}
